<div class="container">
    <div class="header">
        <div class="header__companyname">
            <div class="header__companyname__text">iEV Technologies</div>
            <div class="header__companyname__description">iEvoke... iEvolve... iEventuate...</div>
        </div>
        <div class="header__submenu">
                <div >Home</div>
                <div >About us</div>
                <div >Courses</div>
                <div >Testimonials</div>
                <div>Contact us</div>
        </div>
        <div class="header__getstarted">
            <div>Get started</div>
        </div>
    </div>
</div>