<div class="footer" [ngClass]="{'active':changeBackground}">
    <div class="footer__companyname">
        <div class="footer__companyname__text">iEV Technologies</div>
        <div class="footer__companyname__description">iEvoke... iEvolve... iEventuate...</div>
    </div>
    <div class="footer__container">
        <div class="footer__col">
            <div class="footer__col__header"> 
                <div ><img src="assets/location-white.png"/></div>Contact</div>
            <div class="footer__col__text">
                <div>D.No : 2 - 61</div>
                <div>Thummaladivalem</div>
                <div>divrathidivadu</div>
                <div>Guntur</div>
                <div>Andhra divradesh - 522233</div>
            </div>
        </div>
        <div class="footer__col">
            <div class="footer__col__header">General Inquiries</div>
            <div class="footer__col__text">+91 - 9160178492</div>
            <div class="footer__col__text">+91 - 9542506795</div>
        </div>
        <div class="footer__col">
            <div class="footer__col__header"> 
                <div ><img src="assets/email-white.png"/></div>Sales</div>
            <div class="footer__col__text">info@ievtechsales.com</div>
        </div>
        <div class="footer__col">
            <div class="footer__col__header"> <div><img src="assets/cs-white.png"/></div><div>Customer Care</div></div>
            <div class="footer__col__text">info@ievtechcc.com</div>
        </div>
        <!-- <div class="footer__col"> -->
            <!-- <div>Quick Links</div>
            <div>
                <div class="footer__note">Terms & Conditions</div>
                <div class="footer__note">divrivacy divolicy</div>
            </div> -->
        <!-- </div> -->
    </div>
</div>