<div class="aboutus">
    <div class="aboutus__content">
        <div class="aboutus__content__heading">About iEv</div>
        <div class="aboutus__content__subheading">Who we are</div>
       <div class="aboutus__content__text">
        IEV Technologies is an innovative Learning Management System that is powered by a dedicated team of experts. 
        Our team is passionate about education and devotes its time to ensuring that the most cutting-edge technology is available to support learning around the globe.
    </div> 
    </div>
    <div class="aboutus__img">
        <img src="assets/aboutus.png"/>
    </div>
</div>
<app-form></app-form>