
<div class="form-container">
    <form (ngSubmit)="submitForm()">
        <div class="form-group">
          <label for="firstName">First Name</label>
          <input type="text" id="firstName" name="firstName" [(ngModel)]="formData.firstName" required>
        </div>
        <div class="form-group">
          <label for="lastName">Last Name</label>
          <input type="text" id="lastName" name="lastName" [(ngModel)]="formData.lastName" required>
        </div>
        <div class="form-group">
          <label for="phoneNumber">Phone Number</label>
          <input type="tel" id="phoneNumber" name="phoneNumber" [(ngModel)]="formData.phoneNumber" required>
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          <textarea id="description" name="description" [(ngModel)]="formData.description" required></textarea>
        </div>
        <button type="submit" class="submit-button">Submit</button>
      </form>
</div>