<div class="video-container">
    <div class="video-container__desc">
        <div class="video-container__desc__text">
            <span>IEv</span> provides an effective and powerful platform to enhance your knowledge
        </div>
        <div class="video-container__desc__obj">
            <div>Better collaboration</div>
            <div>Better innovation</div>
            <div>Better growth</div>
        </div>
        <div class="video-container__desc__movimg">
            <img  src="assets/bg-annoc.jpg" alt="Moving Image">
        </div>  
    </div>
    <div class="video-container__video">
         <video class="video-container__video__tag" muted loop autoplay>
            <source src="assets/background-video-wix.mp4" type="video/mp4">
          </video>
          <div class="video-container__video__text">
              <div class="video-container__video__text__left">
                  With the Right Platform, Great Things Can Happen
              </div>
              <div class="video-container__video__text__right">
                  <div>Enable individuals or organizations to achieve their goals and create positive outcomes.</div>
                  <div>Provide access to resources, tools, and networks that can facilitate collaboration, innovation, and growth. </div>
              </div>
          </div>
    </div>

</div>
  